<div class="container" >

                        <div class="py-3">
                            <div> <span class="d-block head"><strong>Employee Name</strong></span> <span class="bottom">{{employee?.ename}}</span> </div>
                            <div> <span class="d-block head"><strong>Username</strong></span> <span class="bottom">{{employee?.username}}</span> </div>
                            <div> <span class="d-block head"><strong>Employee Id</strong></span> <span class="bottom">{{employee?.id}}</span> </div>
                            <div> <span class="d-block head"><strong>Designation</strong></span> <span class="bottom">{{employee?.designation}}</span> </div>
                            <div class="mt-4"> <span class="d-block head"><strong>Mobile Phone</strong> </span> <span class="bottom">{{employee?.mobileno}}</span> </div>
                            <div class="mt-4"> <span class="d-block head"><strong>Gender</strong></span> <span class="bottom">{{employee?.gender}}</span> </div>

                        </div>
</div>